# ignore these
.idea
.DS_Store
api-app.iml
node_modules
syscoin-api.iml
server/nodejs/mongotest.js
.env
*.log

*.orig
client/generated-client/*

# except
!/client/generated-client/.swagger-codegen
!/client/generated-client/.swagger-codegen/VERSION
!/client/generated-client/.swagger-codegen-ignore
!/client/generated-client/.gitignore
